<% @all_my_robots.each do |robot| %>

<h1>Robot Name: <%= robot.name %></h1>
<h2>Powerlevel: <%= robot.powerlevel %></h2>
<h2>Weapons: <%= robot.weapons %></h2>
<h3>Angry: <%= robot.angry %></h3>
<% end %>